body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a:not(.button) {
  transition-property:
    background-color, border-color, color, text-decoration-thickness, text-underline-offset, box-shadow;
  text-decoration: underline;
  text-decoration-thickness: 0;
  text-underline-offset: 0.1em;

  @media (hover: hover) {
    &:hover {
      color: var(--bulma-link-text);
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.15em;
    }
  }
}

.has-text-muted {
  color: var(--muted);
}

.section {
  flex-grow: 1;
}

.card-footer-item {
  outline: none;

  &:first-child {
    border-end-start-radius: var(--bulma-card-radius);
  }

  &:last-child {
    border-end-end-radius: var(--bulma-card-radius);
  }

  &:focus-visible {
    box-shadow: inset 0 0 0 2px hsl(var(--bulma-focus-h) var(--bulma-focus-s) var(--bulma-focus-l));
  }
}

.button {
  transition-property: box-shadow, background-color;

  &:not(:focus-visible) {
    box-shadow: inset 0 0 0 0
      hsl(var(--bulma-focus-h) var(--bulma-focus-s) var(--bulma-focus-l) / var(--bulma-focus-shadow-alpha));
  }

  & > svg {
    height: 100%;
  }
}

#theme-switch-button {
  border-radius: 50%;
  aspect-ratio: 1;
}

body > #theme-switch-button {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  height: 3rem;
}

.navbar-item > #theme-switch-button {
  background: transparent;
  padding: 0.4rem;
  height: 2.25rem;
  color: inherit;

  &:hover {
    background: color-mix(in srgb, currentcolor 10%, transparent);
  }
}

@media screen and (width <= 768px) {
  .field.has-addons {
    flex-direction: column;

    & .control:not(:last-child) {
      margin-inline-end: 0;
    }

    & .control:first-child:not(:only-child) .button,
    & .control:first-child:not(:only-child) .input,
    & .control:first-child:not(:only-child) .select select {
      border-top-right-radius: var(--bulma-control-radius);
      border-bottom-left-radius: 0;
    }

    & .control:last-child:not(:only-child) {
      width: 100%;

      & .button,
      & .input,
      & .select select {
        border-top-right-radius: 0;
        border-bottom-left-radius: var(--bulma-control-radius);
        width: 100%;
      }
    }
  }
}
