.has-text-muted {
  color: var(--muted);
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section {
  flex-grow: 1;
}

.button {
  transition-property: box-shadow, background-color;
  box-shadow: none;
}

.button > svg {
  height: 100%;
}

#theme-switch-button {
  border-radius: 50%;
  aspect-ratio: 1;
}

body > #theme-switch-button {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  padding: 0.5rem;
  height: 3rem;
}

a:not(.button) {
  transition-property: background-color, border-color, color, text-decoration-thickness, text-underline-offset;
  text-decoration: underline;
  text-decoration-thickness: 0;
  text-underline-offset: 0.1em;

  @media (hover: hover) {
    &:hover {
      color: var(--bulma-link-text);
      text-decoration-thickness: 0.1em;
      text-underline-offset: 0.15em;
    }
  }
}
